{% include 'header.html.twig' %}

    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Cadastrar Novo Projeto</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.nome) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.descricao) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.dtCadastro) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.gerente) }}
            </div>
        </div>
        <input class="btn btn-success btn-icon-split" type="submit"/>
    </div>

{% include 'footer.html.twig' %}
